# Configuración de Base de Datos
DB_HOST=127.0.0.1
DB_NAME=repuestos_del_litoral
DB_USER=root
DB_PASS=

# Configuración del Sitio y Atención al Cliente
WHATSAPP_NUMBER=59899655283
SITE_URL=http://localhost/repuestosDelLiteral/public_html
SITE_NAME="Repuestos del Litoral"

# Configuración Mercado Pago
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_SECRET=
MP_NOTIFICATION_URL=

# Configuración Analítica, Tracking y Search Console
GTM_CONTAINER_ID=GTM-XXXXXXX
GA4_MEASUREMENT_ID=G-SKQP4XXET0
META_PIXEL_ID=XXXXXXXXXXXXXXX
SEARCH_CONSOLE_VERIFICATION=


