# public_html/assets/uploads/.htaccess
# Desactiva la ejecución de scripts PHP en el directorio de subidas de imágenes
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(php|php\d|phtml|phar)$">
    Require all denied
</FilesMatch>
